
<style>
  * {
    display:block;
    margin: 10px;
  }
</style>
<h2>CUSTOM ELEMENT</h2>
<!-- regular angular with a prop -->
<component-exists></component-exists>

<component-exists name='12'></component-exists>

<!-- same component, but trying to set with wrong type => error 
<component-exists [prop]="1"></component-exists>
-->

<!-- same component, but trying non-existing prop => error 
<component-exists [propOoops]="'prop was set'"></component-exists>
-->

<!-- trying an angular component that does not exist => error 
<component-does-not-exist></component-does-not-exist>
-->

<!-- web component => NO error -->
<my-custom-element [num-prop]="1" [string-prop]="1"></my-custom-element>

<my-noexist-element></my-noexist-element>

<div id1="sd"></div>
<!-- not web component => uncaught error
<my-prefix-custom-element-noexist></my-prefix-custom-element-noexist>
 -->